# Binaries for programs and plugins
cherri
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Tests
*.cherri
!/actions/*.cherri
!/tests/*.cherri
!/shortcuts/*.cherri
!/portfolio-tracker/**/*.cherri
/tests/*_decompiled.plist
!stdlib.cherri
*.prof

# Development
.DS_Store
/.idea/

# Output
*.shortcut
!compiled_shortcuts/*.shortcut
!portfolio-tracker/dist/*.shortcut
*.plist
*.xml

# Packages
/packages/

# Nix
result
