<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WFQuickActionSurfaces</key>
		<array/>
		<key>WFWorkflowActions</key>
		<array>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>hello</string>
					<key>UUID</key>
					<string>3a81a812-0fa7-4118-9692-713d03745d27</string>
					<key>WFAskActionPrompt</key>
					<string>Hello?</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>PromptOutput</string>
					<key>UUID</key>
					<string>7742c668-0472-4b53-bbd5-6c60a22914e5</string>
					<key>WFAskActionPrompt</key>
					<string>What do you want?</string>
					<key>WFInputType</key>
					<string>Number</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>PromptOutput</string>
							<key>OutputUUID</key>
							<string>7742c668-0472-4b53-bbd5-6c60a22914e5</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>confirm</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.url</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>UrlOutput</string>
					<key>Show-WFURLActionURL</key>
					<true/>
					<key>UUID</key>
					<string>4824fd97-ee41-4d9d-ad1f-5a8f32562b21</string>
					<key>WFURLActionURL</key>
					<array>
						<string>https://google.com</string>
						<string>https://apple.com</string>
						<string>https://cherrilang.org</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>UrlOutput</string>
							<key>OutputUUID</key>
							<string>4824fd97-ee41-4d9d-ad1f-5a8f32562b21</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>urls</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.number</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>NumberOutput</string>
					<key>UUID</key>
					<string>d881a2d4-9c80-4085-a1bf-9dd51731a1a7</string>
					<key>WFNumberActionNumber</key>
					<integer>42</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>NumberOutput</string>
							<key>OutputUUID</key>
							<string>d881a2d4-9c80-4085-a1bf-9dd51731a1a7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>int</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.dictionary</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>DictionaryOutput</string>
					<key>UUID</key>
					<string>7d7fbc5c-ab81-43ba-8509-1eb2643a49ea</string>
					<key>WFItems</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFDictionaryFieldValueItems</key>
							<array>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key4</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>Type</key>
													<string>Variable</string>
													<key>VariableName</key>
													<string>int</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>1</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key5</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>WFDictionaryFieldValueItems</key>
												<array>
													<dict>
														<key>WFItemType</key>
														<integer>0</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>test</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
													<dict>
														<key>WFItemType</key>
														<integer>3</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key1</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>5</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
												</array>
											</dict>
											<key>WFSerializationType</key>
											<string>WFDictionaryFieldValue</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>2</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key7</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<array>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>5</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>6</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
										</array>
										<key>WFSerializationType</key>
										<string>WFArrayParameterState</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key2</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>value</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>4</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key3</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFNumberSubstitutableState</string>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFDictionaryFieldValue</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>DictionaryOutput</string>
							<key>OutputUUID</key>
							<string>7d7fbc5c-ab81-43ba-8509-1eb2643a49ea</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>dict</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>TextOutput</string>
					<key>UUID</key>
					<string>d2e8243c-7a84-4122-85ce-1730ea43f609</string>
					<key>WFTextActionText</key>
					<string>me</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>TextOutput</string>
							<key>OutputUUID</key>
							<string>d2e8243c-7a84-4122-85ce-1730ea43f609</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>str</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>TextOutput1</string>
					<key>UUID</key>
					<string>fed9c8aa-2a62-43da-815b-beaa361a8b63</string>
					<key>WFTextActionText</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{2, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>str</string>
								</dict>
							</dict>
							<key>string</key>
							<string>5 ￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>TextOutput1</string>
							<key>OutputUUID</key>
							<string>fed9c8aa-2a62-43da-815b-beaa361a8b63</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>var</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>bbd662e8-f17e-4df9-92a6-10226d5423fc</string>
					<key>UUID</key>
					<string>4617155a-f9e3-4126-a2b0-e7c8eb38bcf8</string>
					<key>WFCondition</key>
					<integer>4</integer>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>Variable</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>int</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenAttachment</string>
						</dict>
					</dict>
					<key>WFNumberValue</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>bbd662e8-f17e-4df9-92a6-10226d5423fc</string>
					<key>UUID</key>
					<string>f8d870d6-9325-495d-bff6-f5dcac5695ed</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>e663159b-6e4b-4a8b-aa17-79ca399d35af</string>
					<key>UUID</key>
					<string>28e8422b-011a-4c2c-92f0-6b420cb40f20</string>
					<key>WFCondition</key>
					<integer>4</integer>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>Variable</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>int</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenAttachment</string>
						</dict>
					</dict>
					<key>WFNumberValue</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>e663159b-6e4b-4a8b-aa17-79ca399d35af</string>
					<key>UUID</key>
					<string>7a213904-ac70-4df9-a951-871cf9610fc0</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>bbd662e8-f17e-4df9-92a6-10226d5423fc</string>
					<key>UUID</key>
					<string>0545fd90-dd5a-4412-9a57-9092d65795c0</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.list</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>ListOutput</string>
					<key>UUID</key>
					<string>4c824a0c-4075-45d6-a3d3-314e0cf59c08</string>
					<key>WFItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 2</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>ListOutput</string>
							<key>OutputUUID</key>
							<string>4c824a0c-4075-45d6-a3d3-314e0cf59c08</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>list</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>07dea807-0244-40ce-8747-333e559451c3</string>
					<key>UUID</key>
					<string>57231138-ef2d-4afd-af5f-913038862298</string>
					<key>WFCondition</key>
					<integer>4</integer>
					<key>WFConditionalActionString</key>
					<string>me</string>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>Variable</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>str</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenAttachment</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>07dea807-0244-40ce-8747-333e559451c3</string>
					<key>UUID</key>
					<string>9aa9ace3-518e-4be4-970c-8a30b72d961b</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>d393bd3f-bffc-4a97-8866-bee03ac4fe04</string>
					<key>UUID</key>
					<string>4cafb6df-8d06-4d3c-8d5f-40cd4d362fe6</string>
					<key>WFCondition</key>
					<integer>4</integer>
					<key>WFConditionalActionString</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{0, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>str</string>
								</dict>
							</dict>
							<key>string</key>
							<string>￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFInput</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>Variable</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>var</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenAttachment</string>
						</dict>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>d393bd3f-bffc-4a97-8866-bee03ac4fe04</string>
					<key>UUID</key>
					<string>20be9bfa-5291-4252-80bd-3339248006d9</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>9af46890-5802-4205-9b99-2b42a282a1b7</string>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFMenuItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
					</array>
					<key>WFMenuPrompt</key>
					<string>Prompt</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>9af46890-5802-4205-9b99-2b42a282a1b7</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
					<key>WFMenuItemAttributedTitle</key>
					<string>Item 1</string>
					<key>WFMenuItemTitle</key>
					<string>Item 1</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>9af46890-5802-4205-9b99-2b42a282a1b7</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.showresult</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>Text</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{0, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>var</string>
								</dict>
							</dict>
							<key>string</key>
							<string>￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
		</array>
		<key>WFWorkflowClientVersion</key>
		<string>3218.0.4.100</string>
		<key>WFWorkflowHasOutputFallback</key>
		<false/>
		<key>WFWorkflowHasShortcutInputVariables</key>
		<false/>
		<key>WFWorkflowIcon</key>
		<dict>
			<key>WFWorkflowIconGlyphNumber</key>
			<integer>59740</integer>
			<key>WFWorkflowIconStartColor</key>
			<integer>4282601983</integer>
		</dict>
		<key>WFWorkflowImportQuestions</key>
		<array/>
		<key>WFWorkflowInputContentItemClasses</key>
		<array>
			<string>WFImageContentItem</string>
			<string>WFiTunesProductContentItem</string>
			<string>WFAVAssetContentItem</string>
			<string>WFNumberContentItem</string>
			<string>WFArticleContentItem</string>
			<string>WFDateContentItem</string>
			<string>WFFolderContentItem</string>
			<string>WFGenericFileContentItem</string>
			<string>WFPDFContentItem</string>
			<string>WFSafariWebPageContentItem</string>
			<string>WFDictionaryContentItem</string>
			<string>WFURLContentItem</string>
			<string>WFEmailAddressContentItem</string>
			<string>WFLocationContentItem</string>
			<string>WFDCMapsLinkContentItem</string>
			<string>WFPhoneNumberContentItem</string>
			<string>WFRichTextContentItem</string>
			<string>WFStringContentItem</string>
			<string>WFContactContentItem</string>
			<string>WFAppStoreAppContentItem</string>
		</array>
		<key>WFWorkflowMinimumClientVersion</key>
		<integer>900</integer>
		<key>WFWorkflowMinimumClientVersionString</key>
		<string>900</string>
		<key>WFWorkflowName</key>
		<string>decomp_expected</string>
		<key>WFWorkflowNoInputBehavior</key>
		<dict>
			<key>Name</key>
			<string/>
			<key>Parameters</key>
			<dict/>
		</dict>
		<key>WFWorkflowOutputContentItemClasses</key>
		<array/>
		<key>WFWorkflowTypes</key>
		<array/>
	</dict>
</plist>