<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.ask</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAskActionPrompt</key>
				<string>Hello?</string>
				<key>CustomOutputName</key>
				<string>hello</string>
				<key>UUID</key>
				<string>0eb12a6a-1864-4f10-a984-f8e9253d8860</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.ask</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAskActionPrompt</key>
				<string>What do you want?</string>
				<key>WFInputType</key>
				<string>Number</string>
				<key>CustomOutputName</key>
				<string>confirm</string>
				<key>UUID</key>
				<string>0babf83c-c72c-41ed-be94-a4b39e80c002</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>confirm</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>confirm</string>
						<key>OutputUUID</key>
						<string>0babf83c-c72c-41ed-be94-a4b39e80c002</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Show-WFURLActionURL</key>
				<true/>
				<key>WFURLActionURL</key>
				<array>
					<string>https://google.com</string>
					<string>https://apple.com</string>
					<string>https://cherrilang.org</string>
				</array>
				<key>CustomOutputName</key>
				<string>urls</string>
				<key>UUID</key>
				<string>dbae26a2-3288-4d87-8675-b09b8380fa44</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>urls</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>urls</string>
						<key>OutputUUID</key>
						<string>dbae26a2-3288-4d87-8675-b09b8380fa44</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>bool</string>
				<key>UUID</key>
				<string>39562dd3-cf42-49b8-952e-114f45900868</string>
				<key>WFNumberActionNumber</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>bool</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>bool</string>
						<key>OutputUUID</key>
						<string>39562dd3-cf42-49b8-952e-114f45900868</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>bool</string>
				<key>UUID</key>
				<string>628e25ad-d4e7-4a36-a4ab-b1ce786ee0ba</string>
				<key>WFNumberActionNumber</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>bool</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>bool</string>
						<key>OutputUUID</key>
						<string>628e25ad-d4e7-4a36-a4ab-b1ce786ee0ba</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>int</string>
				<key>UUID</key>
				<string>ce6adaeb-e6b4-49fb-a2de-ac7e04dcd4fa</string>
				<key>WFNumberActionNumber</key>
				<string>42</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>int</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>int</string>
						<key>OutputUUID</key>
						<string>ce6adaeb-e6b4-49fb-a2de-ac7e04dcd4fa</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>dict</string>
				<key>UUID</key>
				<string>a9107587-4bf3-4480-96df-f8844906dc25</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>VariableName</key>
												<string>int</string>
												<key>Type</key>
												<string>Variable</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key4</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>1</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>WFDictionaryFieldValueItems</key>
											<array>
												<dict>
													<key>WFItemType</key>
													<integer>3</integer>
													<key>WFValue</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>7</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
													<key>WFKey</key>
													<dict>
														<key>Value</key>
														<dict>
															<key>string</key>
															<string>key6</string>
														</dict>
														<key>WFSerializationType</key>
														<string>WFTextTokenString</string>
													</dict>
												</dict>
											</array>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFDictionaryFieldValue</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key5</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>2</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<array>
										<dict>
											<key>WFItemType</key>
											<integer>3</integer>
											<key>WFValue</key>
											<dict>
												<key>Value</key>
												<dict>
													<key>string</key>
													<string>5</string>
												</dict>
												<key>WFSerializationType</key>
												<string>WFTextTokenString</string>
											</dict>
										</dict>
										<dict>
											<key>WFItemType</key>
											<integer>3</integer>
											<key>WFValue</key>
											<dict>
												<key>Value</key>
												<dict>
													<key>string</key>
													<string>6</string>
												</dict>
												<key>WFSerializationType</key>
												<string>WFTextTokenString</string>
											</dict>
										</dict>
									</array>
									<key>WFSerializationType</key>
									<string>WFArrayParameterState</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key7</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>5</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>value</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>4</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<false/>
									<key>WFSerializationType</key>
									<string>WFNumberSubstitutableState</string>
								</dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key3</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>dict</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>dict</string>
						<key>OutputUUID</key>
						<string>a9107587-4bf3-4480-96df-f8844906dc25</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>str</string>
				<key>UUID</key>
				<string>755e3146-492e-471c-8d21-84fb2b1b3d14</string>
				<key>WFTextActionText</key>
				<string>me</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>str</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>str</string>
						<key>OutputUUID</key>
						<string>755e3146-492e-471c-8d21-84fb2b1b3d14</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>str</string>
				<key>UUID</key>
				<string>0327e64a-3f77-4c65-a05f-f00ed36eaa75</string>
				<key>WFTextActionText</key>
				<string>me</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>str</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>str</string>
						<key>OutputUUID</key>
						<string>0327e64a-3f77-4c65-a05f-f00ed36eaa75</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>str</string>
				<key>UUID</key>
				<string>a7393c00-2538-4748-8051-f5839f9440e3</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>VariableName</key>
								<string>str</string>
								<key>Type</key>
								<string>Variable</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼me</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>str</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>str</string>
						<key>OutputUUID</key>
						<string>a7393c00-2538-4748-8051-f5839f9440e3</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>var</string>
				<key>UUID</key>
				<string>182abdf0-881d-4c3e-922a-d8ad64308698</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{2, 1}</key>
							<dict>
								<key>VariableName</key>
								<string>str</string>
								<key>Type</key>
								<string>Variable</string>
							</dict>
						</dict>
						<key>string</key>
						<string>5 ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>var</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>var</string>
						<key>OutputUUID</key>
						<string>182abdf0-881d-4c3e-922a-d8ad64308698</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>c016224c-777a-49c1-b81e-327f2b667f5a</string>
				<key>UUID</key>
				<string>8442fd4b-a25a-4a32-89f9-d1de0fb5bf1d</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>VariableName</key>
							<string>int</string>
							<key>Type</key>
							<string>Variable</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>0</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>WFAlertActionMessage</key>
				<string>Title</string>
				<key>WFAlertActionTitle</key>
				<string>Message</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>c016224c-777a-49c1-b81e-327f2b667f5a</string>
				<key>UUID</key>
				<string>f5d2e7b1-1e25-4f00-9c55-c234817629ae</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>216bf4bc-0c6f-4239-924c-ddd698a5c91d</string>
				<key>UUID</key>
				<string>553350b9-3aa9-44e8-bcea-d02c33b7e967</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>VariableName</key>
							<string>int</string>
							<key>Type</key>
							<string>Variable</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>1</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>216bf4bc-0c6f-4239-924c-ddd698a5c91d</string>
				<key>UUID</key>
				<string>e535e2de-b924-439b-a4f8-f72ecfa4d6d1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>c016224c-777a-49c1-b81e-327f2b667f5a</string>
				<key>UUID</key>
				<string>7c42de70-a786-4af1-8004-be497b8de14c</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFItems</key>
				<array>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>Item 1</string>
					</dict>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>Item 2</string>
					</dict>
				</array>
				<key>CustomOutputName</key>
				<string>list</string>
				<key>UUID</key>
				<string>7292f95b-9300-46b2-a4ac-caab251273d7</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>list</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>list</string>
						<key>OutputUUID</key>
						<string>7292f95b-9300-46b2-a4ac-caab251273d7</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>GroupingIdentifier</key>
				<string>6bdf0e38-580b-4d35-8ba7-2e39499aa7ad</string>
				<key>UUID</key>
				<string>50ce34b0-7004-4c55-9522-9fa83c405962</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>VariableName</key>
						<string>list</string>
						<key>Type</key>
						<string>Variable</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>item</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>VariableName</key>
						<string>Repeat Item</string>
						<key>Type</key>
						<string>Variable</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>WFAlertActionMessage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>VariableName</key>
								<string>item</string>
								<key>Type</key>
								<string>Variable</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
				<key>GroupingIdentifier</key>
				<string>6bdf0e38-580b-4d35-8ba7-2e39499aa7ad</string>
				<key>UUID</key>
				<string>bc0fbf70-e2d9-4f24-932a-fef62d051ecc</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>GroupingIdentifier</key>
				<string>efe17f42-a905-4578-ae6b-1e0c6166228d</string>
				<key>UUID</key>
				<string>edb20da3-56e5-46e8-b620-72eb78079509</string>
				<key>WFRepeatCount</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>VariableName</key>
						<string>int</string>
						<key>Type</key>
						<string>Variable</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>i</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>VariableName</key>
						<string>Repeat Index</string>
						<key>Type</key>
						<string>Variable</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
				<key>GroupingIdentifier</key>
				<string>efe17f42-a905-4578-ae6b-1e0c6166228d</string>
				<key>UUID</key>
				<string>7c0a4292-2813-4867-88da-f7b7b2db9b46</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4b2003d3-64b9-4d88-a83d-62f3ab4b3a6a</string>
				<key>UUID</key>
				<string>4579efd8-8be7-405d-8c05-26a32752a1f0</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>VariableName</key>
							<string>str</string>
							<key>Type</key>
							<string>Variable</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFConditionalActionString</key>
				<string>me</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4b2003d3-64b9-4d88-a83d-62f3ab4b3a6a</string>
				<key>UUID</key>
				<string>84d4c905-6a7a-4cd9-b1c0-027942127daf</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4d23d25a-3727-45c2-b424-bd0f8254d1cf</string>
				<key>UUID</key>
				<string>1f65c73e-25ef-4a9f-9c0f-50ecfbafc425</string>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>VariableName</key>
							<string>var</string>
							<key>Type</key>
							<string>Variable</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFConditionalActionString</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>VariableName</key>
								<string>str</string>
								<key>Type</key>
								<string>Variable</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4d23d25a-3727-45c2-b424-bd0f8254d1cf</string>
				<key>UUID</key>
				<string>4cca2c83-fecd-4d43-9c5c-bb6470295ba4</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>5264b1f1-6575-4d49-8dba-583f38f95b32</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFMenuPrompt</key>
				<string>Prompt</string>
				<key>WFMenuItems</key>
				<array>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>Item 1</string>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>5264b1f1-6575-4d49-8dba-583f38f95b32</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemAttributedTitle</key>
				<string>Item 1</string>
				<key>WFMenuItemTitle</key>
				<string>Item 1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>5264b1f1-6575-4d49-8dba-583f38f95b32</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>WFAlertActionMessage</key>
				<string>Title</string>
				<key>WFAlertActionTitle</key>
				<string>Message</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.showresult</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>VariableName</key>
								<string>var</string>
								<key>Type</key>
								<string>Variable</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3036.0.4.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59740</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>4282601983</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFNumberContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFDictionaryContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFLocationContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
	<key>WFWorkflowName</key>
	<string>decomp_expected</string>
</dict>
</plist>
