<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WFWorkflowActions</key>
		<array>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>hello</string>
					<key>UUID</key>
					<string>e492f4c0-151c-4eac-85ad-41bdcb804634</string>
					<key>WFAskActionPrompt</key>
					<string>Hello?</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Prompt</string>
					<key>UUID</key>
					<string>ba0c668a-f0e0-4bc5-8428-b08c989a7fa7</string>
					<key>WFAskActionPrompt</key>
					<string>What do you want?</string>
					<key>WFInputType</key>
					<string>Number</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Prompt</string>
							<key>OutputUUID</key>
							<string>ba0c668a-f0e0-4bc5-8428-b08c989a7fa7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>confirm</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.location</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>location</string>
					<key>UUID</key>
					<string>d22cdfa2-5de1-48aa-a1b2-97bb542dd8cd</string>
					<key>WFLocation</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Ask</string>
							<key>VariableName</key>
							<string>Ask</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.url</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Url</string>
					<key>Show-WFURLActionURL</key>
					<true/>
					<key>UUID</key>
					<string>0fa839a8-c91a-4488-86ff-aca8fe9a59dc</string>
					<key>WFURLActionURL</key>
					<array>
						<string>https://google.com</string>
						<string>https://apple.com</string>
						<string>https://cherrilang.org</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Url</string>
							<key>OutputUUID</key>
							<string>0fa839a8-c91a-4488-86ff-aca8fe9a59dc</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>urls</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.number</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Number</string>
					<key>UUID</key>
					<string>f398b6d5-d2f3-45a0-ba7d-d05c9155aca2</string>
					<key>WFNumberActionNumber</key>
					<integer>42</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Number</string>
							<key>OutputUUID</key>
							<string>f398b6d5-d2f3-45a0-ba7d-d05c9155aca2</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>int</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.dictionary</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Dictionary</string>
					<key>UUID</key>
					<string>5890eb8d-c905-4894-894c-6aeb28800b91</string>
					<key>WFItems</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFDictionaryFieldValueItems</key>
							<array>
								<dict>
									<key>WFItemType</key>
									<integer>1</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key5</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>WFDictionaryFieldValueItems</key>
												<array>
													<dict>
														<key>WFItemType</key>
														<integer>0</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>test</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
													<dict>
														<key>WFItemType</key>
														<integer>3</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key1</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>5</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
												</array>
											</dict>
											<key>WFSerializationType</key>
											<string>WFDictionaryFieldValue</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>2</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key7</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<array>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>5</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>6</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
										</array>
										<key>WFSerializationType</key>
										<string>WFArrayParameterState</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key2</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>value</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>4</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key3</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFNumberSubstitutableState</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key4</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>Type</key>
													<string>Variable</string>
													<key>VariableName</key>
													<string>int</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFDictionaryFieldValue</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Dictionary</string>
							<key>OutputUUID</key>
							<string>5890eb8d-c905-4894-894c-6aeb28800b91</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>dict</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Text</string>
					<key>UUID</key>
					<string>6cb49399-b7c8-4bd5-84e2-a26cdf3063f3</string>
					<key>WFTextActionText</key>
					<string>me</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Text</string>
							<key>OutputUUID</key>
							<string>6cb49399-b7c8-4bd5-84e2-a26cdf3063f3</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>str</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Text 1</string>
					<key>UUID</key>
					<string>8cac1c32-5eb6-4c0f-85b9-20c70b9b70e6</string>
					<key>WFTextActionText</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{2, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>str</string>
								</dict>
							</dict>
							<key>string</key>
							<string>5 ￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Text 1</string>
							<key>OutputUUID</key>
							<string>8cac1c32-5eb6-4c0f-85b9-20c70b9b70e6</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>var</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>876493a1-ef62-4a79-ba1e-4f3bacf01617</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>0</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>876493a1-ef62-4a79-ba1e-4f3bacf01617</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>21e274ce-fdc0-408c-8d9d-ce9f857ca8fa</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>21e274ce-fdc0-408c-8d9d-ce9f857ca8fa</string>
					<key>UUID</key>
					<string>63769da3-ad7e-409e-b47b-991b31412de8</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>876493a1-ef62-4a79-ba1e-4f3bacf01617</string>
					<key>UUID</key>
					<string>9101a130-7cf2-41e4-aa2c-7acdffacaa57</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.list</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>List</string>
					<key>UUID</key>
					<string>feed8708-94fd-414c-8cda-abf6ac4b2cd4</string>
					<key>WFItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 2</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>List</string>
							<key>OutputUUID</key>
							<string>feed8708-94fd-414c-8cda-abf6ac4b2cd4</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>list</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>c78c60cd-57f4-45c3-861f-df410585d037</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFConditionalActionString</key>
									<string>me</string>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>str</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>c78c60cd-57f4-45c3-861f-df410585d037</string>
					<key>UUID</key>
					<string>04c5dd06-f4e8-42be-b7a9-334a0b3f83e3</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>fab35191-dfa0-4794-8f69-41b20aca8216</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFConditionalActionString</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>Type</key>
													<string>Variable</string>
													<key>VariableName</key>
													<string>str</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>var</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>2</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>fab35191-dfa0-4794-8f69-41b20aca8216</string>
					<key>UUID</key>
					<string>e4f0792d-df0a-4757-b533-ba5e0f1e5c01</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>3b056f05-97a5-41c3-a2dc-a64018aa9fee</string>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFMenuItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
					</array>
					<key>WFMenuPrompt</key>
					<string>Prompt</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>3b056f05-97a5-41c3-a2dc-a64018aa9fee</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
					<key>WFMenuItemAttributedTitle</key>
					<string>Item 1</string>
					<key>WFMenuItemTitle</key>
					<string>Item 1</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>3b056f05-97a5-41c3-a2dc-a64018aa9fee</string>
					<key>UUID</key>
					<string>918a304e-1edc-4fe1-97eb-7b1a06717d22</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.showresult</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>Text</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{0, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>var</string>
								</dict>
							</dict>
							<key>string</key>
							<string>￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
		</array>
		<key>WFWorkflowClientVersion</key>
		<string>4033.0.4.3</string>
		<key>WFWorkflowHasOutputFallback</key>
		<false/>
		<key>WFWorkflowHasShortcutInputVariables</key>
		<false/>
		<key>WFWorkflowIcon</key>
		<dict>
			<key>WFWorkflowIconGlyphNumber</key>
			<integer>59740</integer>
			<key>WFWorkflowIconStartColor</key>
			<integer>4282601983</integer>
		</dict>
		<key>WFWorkflowInputContentItemClasses</key>
		<array>
			<string>WFStringContentItem</string>
			<string>WFDictionaryContentItem</string>
			<string>WFURLContentItem</string>
			<string>WFAppStoreAppContentItem</string>
			<string>WFContactContentItem</string>
			<string>WFFolderContentItem</string>
			<string>WFDateContentItem</string>
			<string>WFGenericFileContentItem</string>
			<string>WFDCMapsLinkContentItem</string>
			<string>WFAVAssetContentItem</string>
			<string>WFPDFContentItem</string>
			<string>WFPhoneNumberContentItem</string>
			<string>WFRichTextContentItem</string>
			<string>WFNumberContentItem</string>
			<string>WFiTunesProductContentItem</string>
			<string>WFSafariWebPageContentItem</string>
			<string>WFArticleContentItem</string>
			<string>WFEmailAddressContentItem</string>
			<string>WFImageContentItem</string>
			<string>WFLocationContentItem</string>
		</array>
		<key>WFWorkflowMinimumClientVersion</key>
		<integer>900</integer>
		<key>WFWorkflowMinimumClientVersionString</key>
		<string>900</string>
	</dict>
</plist>