<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WFQuickActionSurfaces</key>
		<array/>
		<key>WFWorkflowActions</key>
		<array>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>hello</string>
					<key>UUID</key>
					<string>7e39e359-7267-4866-bb68-fa73d7232104</string>
					<key>WFAskActionPrompt</key>
					<string>Hello?</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.ask</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Prompt</string>
					<key>UUID</key>
					<string>feaf4622-36ca-40fa-bddd-0bd8fff38252</string>
					<key>WFAskActionPrompt</key>
					<string>What do you want?</string>
					<key>WFInputType</key>
					<string>Number</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Prompt</string>
							<key>OutputUUID</key>
							<string>feaf4622-36ca-40fa-bddd-0bd8fff38252</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>confirm</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.url</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Url</string>
					<key>Show-WFURLActionURL</key>
					<true/>
					<key>UUID</key>
					<string>9c975d43-63cc-48e2-ba99-55207c82568f</string>
					<key>WFURLActionURL</key>
					<array>
						<string>https://google.com</string>
						<string>https://apple.com</string>
						<string>https://cherrilang.org</string>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Url</string>
							<key>OutputUUID</key>
							<string>9c975d43-63cc-48e2-ba99-55207c82568f</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>urls</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.number</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Number</string>
					<key>UUID</key>
					<string>97940d67-1cc4-4112-bce1-32abe2d6ac04</string>
					<key>WFNumberActionNumber</key>
					<integer>42</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Number</string>
							<key>OutputUUID</key>
							<string>97940d67-1cc4-4112-bce1-32abe2d6ac04</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>int</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.dictionary</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Dictionary</string>
					<key>UUID</key>
					<string>30c734ce-a0bf-4bb2-b284-7ec422d35f3a</string>
					<key>WFItems</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFDictionaryFieldValueItems</key>
							<array>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key2</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>value</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>4</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key3</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<false/>
										<key>WFSerializationType</key>
										<string>WFNumberSubstitutableState</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>0</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key4</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>Type</key>
													<string>Variable</string>
													<key>VariableName</key>
													<string>int</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>1</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key5</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>WFDictionaryFieldValueItems</key>
												<array>
													<dict>
														<key>WFItemType</key>
														<integer>0</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>test</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
													<dict>
														<key>WFItemType</key>
														<integer>3</integer>
														<key>WFKey</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>key1</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
														<key>WFValue</key>
														<dict>
															<key>Value</key>
															<dict>
																<key>string</key>
																<string>5</string>
															</dict>
															<key>WFSerializationType</key>
															<string>WFTextTokenString</string>
														</dict>
													</dict>
												</array>
											</dict>
											<key>WFSerializationType</key>
											<string>WFDictionaryFieldValue</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFDictionaryFieldValue</string>
									</dict>
								</dict>
								<dict>
									<key>WFItemType</key>
									<integer>2</integer>
									<key>WFKey</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>string</key>
											<string>key7</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFValue</key>
									<dict>
										<key>Value</key>
										<array>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>5</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
											<dict>
												<key>WFItemType</key>
												<integer>3</integer>
												<key>WFValue</key>
												<dict>
													<key>Value</key>
													<dict>
														<key>string</key>
														<string>6</string>
													</dict>
													<key>WFSerializationType</key>
													<string>WFTextTokenString</string>
												</dict>
											</dict>
										</array>
										<key>WFSerializationType</key>
										<string>WFArrayParameterState</string>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFDictionaryFieldValue</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Dictionary</string>
							<key>OutputUUID</key>
							<string>30c734ce-a0bf-4bb2-b284-7ec422d35f3a</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>dict</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Text</string>
					<key>UUID</key>
					<string>0a569be0-5819-4bc6-9c88-34a038e3b410</string>
					<key>WFTextActionText</key>
					<string>me</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Text</string>
							<key>OutputUUID</key>
							<string>0a569be0-5819-4bc6-9c88-34a038e3b410</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>str</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.gettext</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>Text 1</string>
					<key>UUID</key>
					<string>75aede93-1d25-4024-8e09-e1da2a56650e</string>
					<key>WFTextActionText</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{2, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>str</string>
								</dict>
							</dict>
							<key>string</key>
							<string>5 ￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Text 1</string>
							<key>OutputUUID</key>
							<string>75aede93-1d25-4024-8e09-e1da2a56650e</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>var</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>569537cc-0fd3-4e3b-8359-e1971762c259</string>
					<key>UUID</key>
					<string>4eea290c-fb7b-4c7a-b7a9-d3a9b11aa00e</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>0</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>569537cc-0fd3-4e3b-8359-e1971762c259</string>
					<key>UUID</key>
					<string>bc629a32-9ee0-4197-aa09-941a6d0ef259</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>1f5dcb5e-3bb8-4006-86c6-75a17411f286</string>
					<key>UUID</key>
					<string>e2d74250-8638-4096-ad81-65e9d7f2a3d5</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>1f5dcb5e-3bb8-4006-86c6-75a17411f286</string>
					<key>UUID</key>
					<string>9994aeaa-d8e6-4c89-8810-389ef451552d</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>569537cc-0fd3-4e3b-8359-e1971762c259</string>
					<key>UUID</key>
					<string>6a5f868b-4394-43aa-9bd5-1362c9c0ef09</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.list</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>CustomOutputName</key>
					<string>List</string>
					<key>UUID</key>
					<string>d113788c-0f1e-4c7f-8774-6c0b3616a488</string>
					<key>WFItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 2</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.setvariable</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFInput</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>List</string>
							<key>OutputUUID</key>
							<string>d113788c-0f1e-4c7f-8774-6c0b3616a488</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>WFVariableName</key>
					<string>list</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>4bdc4e5a-8a30-4cd2-b62e-231075dfdb6c</string>
					<key>UUID</key>
					<string>570b3a3f-1373-478a-8e9e-083c672979a2</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>-1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFConditionalActionString</key>
									<string>me</string>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>str</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>4bdc4e5a-8a30-4cd2-b62e-231075dfdb6c</string>
					<key>UUID</key>
					<string>426617cc-5105-410d-9f63-13d3fab34455</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>12c337c2-32cc-41d5-a3db-cfd1b0a73bfe</string>
					<key>UUID</key>
					<string>b3c94eb1-017d-454f-b96e-81076e3d228c</string>
					<key>WFConditions</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>WFActionParameterFilterPrefix</key>
							<integer>1</integer>
							<key>WFActionParameterFilterTemplates</key>
							<array>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFConditionalActionString</key>
									<dict>
										<key>Value</key>
										<dict>
											<key>attachmentsByRange</key>
											<dict>
												<key>{0, 1}</key>
												<dict>
													<key>Type</key>
													<string>Variable</string>
													<key>VariableName</key>
													<string>str</string>
												</dict>
											</dict>
											<key>string</key>
											<string>￼</string>
										</dict>
										<key>WFSerializationType</key>
										<string>WFTextTokenString</string>
									</dict>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>var</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>WFCondition</key>
									<integer>4</integer>
									<key>WFInput</key>
									<dict>
										<key>Type</key>
										<string>Variable</string>
										<key>Variable</key>
										<dict>
											<key>Value</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>int</string>
											</dict>
											<key>WFSerializationType</key>
											<string>WFTextTokenAttachment</string>
										</dict>
									</dict>
									<key>WFNumberValue</key>
									<integer>2</integer>
								</dict>
							</array>
						</dict>
						<key>WFSerializationType</key>
						<string>WFContentPredicateTableTemplate</string>
					</dict>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.conditional</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>12c337c2-32cc-41d5-a3db-cfd1b0a73bfe</string>
					<key>UUID</key>
					<string>5710c1bf-df04-47fc-9c6e-5ceff57d8407</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>912d0c98-d3f7-47c9-adfe-59a59f2c6af6</string>
					<key>WFControlFlowMode</key>
					<integer>0</integer>
					<key>WFMenuItems</key>
					<array>
						<dict>
							<key>WFItemType</key>
							<integer>0</integer>
							<key>WFValue</key>
							<string>Item 1</string>
						</dict>
					</array>
					<key>WFMenuPrompt</key>
					<string>Prompt</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>912d0c98-d3f7-47c9-adfe-59a59f2c6af6</string>
					<key>WFControlFlowMode</key>
					<integer>1</integer>
					<key>WFMenuItemAttributedTitle</key>
					<string>Item 1</string>
					<key>WFMenuItemTitle</key>
					<string>Item 1</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.nothing</string>
				<key>WFWorkflowActionParameters</key>
				<dict/>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.choosefrommenu</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>GroupingIdentifier</key>
					<string>912d0c98-d3f7-47c9-adfe-59a59f2c6af6</string>
					<key>WFControlFlowMode</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.alert</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>WFAlertActionCancelButtonShown</key>
					<false/>
					<key>WFAlertActionMessage</key>
					<string>Title</string>
					<key>WFAlertActionTitle</key>
					<string>Message</string>
				</dict>
			</dict>
			<dict>
				<key>WFWorkflowActionIdentifier</key>
				<string>is.workflow.actions.showresult</string>
				<key>WFWorkflowActionParameters</key>
				<dict>
					<key>Text</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>attachmentsByRange</key>
							<dict>
								<key>{0, 1}</key>
								<dict>
									<key>Type</key>
									<string>Variable</string>
									<key>VariableName</key>
									<string>var</string>
								</dict>
							</dict>
							<key>string</key>
							<string>￼</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenString</string>
					</dict>
				</dict>
			</dict>
		</array>
		<key>WFWorkflowClientVersion</key>
		<string>3218.0.4.100</string>
		<key>WFWorkflowHasOutputFallback</key>
		<false/>
		<key>WFWorkflowHasShortcutInputVariables</key>
		<false/>
		<key>WFWorkflowIcon</key>
		<dict>
			<key>WFWorkflowIconGlyphNumber</key>
			<integer>59740</integer>
			<key>WFWorkflowIconStartColor</key>
			<integer>4282601983</integer>
		</dict>
		<key>WFWorkflowImportQuestions</key>
		<array/>
		<key>WFWorkflowInputContentItemClasses</key>
		<array>
			<string>WFStringContentItem</string>
			<string>WFDictionaryContentItem</string>
			<string>WFNumberContentItem</string>
			<string>WFContactContentItem</string>
			<string>WFLocationContentItem</string>
			<string>WFPDFContentItem</string>
			<string>WFArticleContentItem</string>
			<string>WFGenericFileContentItem</string>
			<string>WFImageContentItem</string>
			<string>WFiTunesProductContentItem</string>
			<string>WFDCMapsLinkContentItem</string>
			<string>WFAVAssetContentItem</string>
			<string>WFPhoneNumberContentItem</string>
			<string>WFSafariWebPageContentItem</string>
			<string>WFFolderContentItem</string>
			<string>WFRichTextContentItem</string>
			<string>WFURLContentItem</string>
			<string>WFAppStoreAppContentItem</string>
			<string>WFDateContentItem</string>
			<string>WFEmailAddressContentItem</string>
		</array>
		<key>WFWorkflowMinimumClientVersion</key>
		<integer>900</integer>
		<key>WFWorkflowMinimumClientVersionString</key>
		<string>900</string>
		<key>WFWorkflowName</key>
		<string>decomp_expected</string>
		<key>WFWorkflowNoInputBehavior</key>
		<dict>
			<key>Name</key>
			<string/>
			<key>Parameters</key>
			<dict/>
		</dict>
		<key>WFWorkflowOutputContentItemClasses</key>
		<array/>
		<key>WFWorkflowTypes</key>
		<array/>
	</dict>
</plist>