<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>intVar</string>
				<key>UUID</key>
				<string>7E59BA30-160A-4969-A854-C3D4476620F9</string>
				<key>WFNumberActionNumber</key>
				<string>42</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>intVar</string>
						<key>OutputUUID</key>
						<string>7E59BA30-160A-4969-A854-C3D4476620F9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>intVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>intVar2</string>
				<key>UUID</key>
				<string>152ACF9C-A5B8-44D4-84B4-9D4A056C9796</string>
				<key>WFNumberActionNumber</key>
				<string>52</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>intVar2</string>
						<key>OutputUUID</key>
						<string>152ACF9C-A5B8-44D4-84B4-9D4A056C9796</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>intVar2</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>immutable</string>
				<key>UUID</key>
				<string>E351648F-4777-4D66-B787-3197DE1C1524</string>
				<key>WFNumberActionNumber</key>
				<string>5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>stringVar</string>
				<key>UUID</key>
				<string>AB8015D7-70DB-4A33-9044-9CE69515F230</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{5, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>intVar</string>
							</dict>
						</dict>
						<key>string</key>
						<string>text ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>stringVar</string>
						<key>OutputUUID</key>
						<string>AB8015D7-70DB-4A33-9044-9CE69515F230</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>stringVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>multiString</string>
				<key>UUID</key>
				<string>F9CFCB2C-5F12-4F9F-8ED5-D5C5801740B0</string>
				<key>WFTextActionText</key>
				<string>Multiline
string
var</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>multiString</string>
						<key>OutputUUID</key>
						<string>F9CFCB2C-5F12-4F9F-8ED5-D5C5801740B0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>multiString</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text</string>
				<key>UUID</key>
				<string>33B8D289-213A-4C06-97DC-31DBCE9EE7B0</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{7, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>intVar</string>
							</dict>
						</dict>
						<key>string</key>
						<string>item 1 ￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>33B8D289-213A-4C06-97DC-31DBCE9EE7B0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text</string>
				<key>UUID</key>
				<string>DBE7F661-D4CD-40E3-8F35-BA0235DE4551</string>
				<key>WFTextActionText</key>
				<string>item 2</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>DBE7F661-D4CD-40E3-8F35-BA0235DE4551</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text</string>
				<key>UUID</key>
				<string>5A9557DF-9D7A-44CB-B553-6E056EE8307F</string>
				<key>WFTextActionText</key>
				<string>item 3</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>5A9557DF-9D7A-44CB-B553-6E056EE8307F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Number</string>
				<key>UUID</key>
				<string>25CC894A-3BE3-4399-8DD2-D83C1BAC2643</string>
				<key>WFNumberActionNumber</key>
				<string>5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Number</string>
						<key>OutputUUID</key>
						<string>25CC894A-3BE3-4399-8DD2-D83C1BAC2643</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Dictionary</string>
				<key>UUID</key>
				<string>DB73224B-433E-46F3-AE5D-ED589AEBBC37</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key1</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>value</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>5</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>4</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key3</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<true/>
									<key>WFSerializationType</key>
									<string>WFNumberSubstitutableState</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>DB73224B-433E-46F3-AE5D-ED589AEBBC37</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>arrayVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>boolVarTrue</string>
				<key>UUID</key>
				<string>034E8BE5-8F7C-4E4F-A1BF-C565DF9E737F</string>
				<key>WFNumberActionNumber</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>boolVarTrue</string>
						<key>OutputUUID</key>
						<string>034E8BE5-8F7C-4E4F-A1BF-C565DF9E737F</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>boolVarTrue</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.number</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>boolVarFalse</string>
				<key>UUID</key>
				<string>00B20897-4943-40B4-A2BF-14F0877EB13A</string>
				<key>WFNumberActionNumber</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>boolVarFalse</string>
						<key>OutputUUID</key>
						<string>00B20897-4943-40B4-A2BF-14F0877EB13A</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>boolVarFalse</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>urlVar</string>
				<key>Show-WFURLActionURL</key>
				<true/>
				<key>UUID</key>
				<string>DBB6DB2A-B174-46AD-92FF-43A5AA8D1D74</string>
				<key>WFURLActionURL</key>
				<array>
					<string>https://apple.com</string>
					<string>https://google.com</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>urlVar</string>
						<key>OutputUUID</key>
						<string>DBB6DB2A-B174-46AD-92FF-43A5AA8D1D74</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>urlVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>dateVar</string>
				<key>UUID</key>
				<string>C0717367-F93F-4602-B038-E5582FB9E034</string>
				<key>WFDateActionDate</key>
				<string>October 5, 2022</string>
				<key>WFDateActionMode</key>
				<string>Specified Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>dateVar</string>
						<key>OutputUUID</key>
						<string>C0717367-F93F-4602-B038-E5582FB9E034</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>dateVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.email</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>email</string>
				<key>UUID</key>
				<string>0254B96A-46D7-409F-BD31-9AFF91B6CCEE</string>
				<key>WFEmailAddress</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFContactFieldValues</key>
						<array>
							<dict>
								<key>EntryType</key>
								<integer>2</integer>
								<key>SerializedEntry</key>
								<dict>
									<key>link.contentkit.emailaddress</key>
									<string>test@test.com</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContactFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>email</string>
						<key>OutputUUID</key>
						<string>0254B96A-46D7-409F-BD31-9AFF91B6CCEE</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>email</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.phonenumber</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>phone</string>
				<key>UUID</key>
				<string>436FC04D-C500-4324-AD6B-86F096A80E69</string>
				<key>WFPhoneNumber</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFContactFieldValues</key>
						<array>
							<dict>
								<key>EntryType</key>
								<integer>1</integer>
								<key>SerializedEntry</key>
								<dict>
									<key>link.contentkit.phonenumber</key>
									<string>(555) 555-5555</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFContactFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>phone</string>
						<key>OutputUUID</key>
						<string>436FC04D-C500-4324-AD6B-86F096A80E69</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>phone</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>dictVar</string>
				<key>UUID</key>
				<string>51ECEEFB-189B-46DC-ACA7-1701B1EFFE0E</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key1</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>value</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>5</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>4</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key3</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<true/>
									<key>WFSerializationType</key>
									<string>WFNumberSubstitutableState</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>2</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>key4</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<array>
										<dict>
											<key>WFItemType</key>
											<integer>0</integer>
											<key>WFValue</key>
											<dict>
												<key>Value</key>
												<dict>
													<key>string</key>
													<string>item1</string>
												</dict>
												<key>WFSerializationType</key>
												<string>WFTextTokenString</string>
											</dict>
										</dict>
										<dict>
											<key>WFItemType</key>
											<integer>0</integer>
											<key>WFValue</key>
											<dict>
												<key>Value</key>
												<dict>
													<key>string</key>
													<string>item 2</string>
												</dict>
												<key>WFSerializationType</key>
												<string>WFTextTokenString</string>
											</dict>
										</dict>
										<dict>
											<key>WFItemType</key>
											<integer>0</integer>
											<key>WFValue</key>
											<dict>
												<key>Value</key>
												<dict>
													<key>string</key>
													<string>item3</string>
												</dict>
												<key>WFSerializationType</key>
												<string>WFTextTokenString</string>
											</dict>
										</dict>
									</array>
									<key>WFSerializationType</key>
									<string>WFArrayParameterState</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>dictVar</string>
						<key>OutputUUID</key>
						<string>51ECEEFB-189B-46DC-ACA7-1701B1EFFE0E</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>dictVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.calculateexpression</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>expVar</string>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{5, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>intVar</string>
							</dict>
						</dict>
						<key>string</key>
						<string>54 * ￼ + (6 * 7)</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>82F9E563-72AC-4809-B036-A608F28D37F8</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>expVar</string>
						<key>OutputUUID</key>
						<string>82F9E563-72AC-4809-B036-A608F28D37F8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>expVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>listVar</string>
				<key>UUID</key>
				<string>5F721EC0-316A-49B5-921C-46C3108B744D</string>
				<key>WFItems</key>
				<array>
					<string>Item 1</string>
					<string>Item 2</string>
					<string>Item 3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>listVar</string>
						<key>OutputUUID</key>
						<string>5F721EC0-316A-49B5-921C-46C3108B744D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>listVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>emptyVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>stringVar</string>
				<key>UUID</key>
				<string>A73213A4-73E2-48E1-8634-86AB97FD82B0</string>
				<key>WFTextActionText</key>
				<string>test</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>stringVar</string>
						<key>OutputUUID</key>
						<string>A73213A4-73E2-48E1-8634-86AB97FD82B0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>stringVar</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>stringVar</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>emptyVar</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2038.0.2.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-1263359489</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFNumberContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFImageContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
