---
---

@import "{{ site.theme }}";

html,body{
  background: #222;
  color: #fafafa
}

a {
  color: #ff5e5d
}

html,body,p {
  line-height: 1.7 !important;
  font-size: 18px !important
}

h1,h2,h3,h4 {
  line-height: 1.2 !important;
  border-color: #555 !important
}

pre {
  background-color: #555 !important;
  color: burlywood !important;
  border-radius: 10px !important
}

code {
  color: burlywood !important;
}

.highlight {
  background: none !important
}
