html,body{
  background: #222;
  color: #fafafa
}

a {
  color: #ff5e5d
}

html,body,p {
  line-height: 1.7 !important;
  font-size: 18px !important
}

h1,h2,h3,h4 {
  line-height: 1.2 !important;
  border-color: #555 !important
}

pre {
  color: burlywood !important;
}

code {
  color: burlywood !important
}

.markdown-body .highlight pre, .markdown-body pre {
  background-color: #333 !important;
  border-radius: 10px !important
}

.highlight {
  background: none !important;
}

.highlight .k, .highlight .kv {
  color: #d38787 !important
}

.highlight .kt {
  color: #ff7878 !important
}

.highlight .s {
  color: #95c292 !important
}

.highlight .o {
  color: #c7c7c7 !important
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: #769dfa !important
}

.markdown-body hr {
    background: #555 !important;
}

.border-top {
    border-color: #555 !important;
}

.text-gray {
    color: #ababab !important;
}
