# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.24

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -run TestCherriNoSign -v ./...

    - name: Decompilation Test
      run: go test -run TestDecomp -v ./...

    - name: Package Manager Test
      run: go test -run TestPackages -v ./...

  build-test-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.24

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -run TestCherriNoSign -v ./...

    - name: Decompilation Test
      run: go test -run TestDecomp -v ./...

    - name: Package Manager Test
      run: go test -run TestPackages -v ./...

    - name: MacOS Native Signing Test
      run: go test -run TestMacOSSigning -v ./...

  build-test-nix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main

    # Runs tests as part of build
    - name: Build nix package
      run: nix build
